# Python
__pycache__/
*.py[cod]
*$py.class
*.env
venv/
env/

# Flutter
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# OS
Thumbs.db
.DS_Store

# Editor
.vscode/
.idea/
